
<div class="content" role="main">
  <div *ngIf="test==0" class="center">
    <h2 class="mat-h2">Mide tu huella de carbono</h2>
    <button mat-raised-button (click)="test=1">Iniciar</button>
  </div>
  <div [ngSwitch]="test">
    <div class="center column" *ngSwitchCase="1">
      <img class="start-top" src="https://media3.giphy.com/media/52FJUMAZnBro3QyZWO/source.gif">
      <p>¿Qué tan seguido caminas al día?</p>
      <mat-card (click)="test=2" class="options-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Footsteps_icon.svg/1024px-Footsteps_icon.svg.png">
        <span>Dos veces</span>
      </mat-card>
      <mat-card (click)="test=2" class="options-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Footsteps_icon.svg/1024px-Footsteps_icon.svg.png">
        <span>Tres veces</span>
      </mat-card>
      <mat-card (click)="test=2" class="options-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Footsteps_icon.svg/1024px-Footsteps_icon.svg.png">
        <span>Más de cinco veces</span>
      </mat-card>
    </div>
    <div class="center column" *ngSwitchCase="2">
      <img class="start-top" src="https://media.giphy.com/media/TdcmrLMF0TVqDLUjAT/giphy.gif">
      <p>¿Cuantos kilómetros diarios usas el automóvil?</p>
      <mat-card (click)="test=3" class="options-card">
        <img src="https://lh3.googleusercontent.com/proxy/A1Wy9JLAEK18WaQLSJWBOQFeqlk7_GaPanM4M-3HgIooWG9qARwthgXXJkZfsyhyF7o1WWrwHf3iPNjXkq5u6-Ui8jXsHFTLbPCQWoR21l_Cf9vwDZve4J0wq2hdxv20xsbgo8iP7MkYeWb4mWc5l9wfbS6a">
        <span>1-5</span>
      </mat-card>
      <mat-card (click)="test=3" class="options-card">
        <img src="https://lh3.googleusercontent.com/proxy/A1Wy9JLAEK18WaQLSJWBOQFeqlk7_GaPanM4M-3HgIooWG9qARwthgXXJkZfsyhyF7o1WWrwHf3iPNjXkq5u6-Ui8jXsHFTLbPCQWoR21l_Cf9vwDZve4J0wq2hdxv20xsbgo8iP7MkYeWb4mWc5l9wfbS6a">
        <span>5-10</span>
      </mat-card>
      <mat-card (click)="test=3" class="options-card">
        <img src="https://lh3.googleusercontent.com/proxy/A1Wy9JLAEK18WaQLSJWBOQFeqlk7_GaPanM4M-3HgIooWG9qARwthgXXJkZfsyhyF7o1WWrwHf3iPNjXkq5u6-Ui8jXsHFTLbPCQWoR21l_Cf9vwDZve4J0wq2hdxv20xsbgo8iP7MkYeWb4mWc5l9wfbS6a">
        <span>10+</span>
      </mat-card>
    </div>
    <div class="center column" *ngSwitchCase="3">
      <img class="start-top" src="https://i.pinimg.com/originals/0c/1c/7f/0c1c7fbf72e1776b70373c8b26e29f9c.gif">
      <p>¿Cuántas veces comes carne a la semana?</p>
      <mat-card (click)="test=4" class="options-card">
        <img src="https://img.icons8.com/cotton/2x/steak-rare.png">
        <span>Dos veces</span>
      </mat-card>
      <mat-card (click)="test=4" class="options-card">
        <img src="https://img.icons8.com/cotton/2x/steak-rare.png">
        <span>Tres veces</span>
      </mat-card>
      <mat-card (click)="test=4" class="options-card">
        <img src="https://img.icons8.com/cotton/2x/steak-rare.png">
        <span>Más de cinco veces</span>
      </mat-card>
    </div>
    <div class="center column" *ngSwitchCase="4">
      <div><img src="https://format-com-cld-res.cloudinary.com/image/private/s--QBbINEpi--/c_crop,h_332,w_500,x_0,y_0/c_fill,g_center,h_506,w_760/fl_keep_iptc.progressive,q_95/v1/a8e33345abbbd3dcf24ecea45fda3dd8/yes.gif"></div>
      <p>Tu huella de carbono es de 100</p>
      <div><button mat-raised-button color="warn">Ver Puntuación</button></div>
      <p></p>
      <div><button mat-raised-button (click)="test=0">Regresar</button></div>
      
    </div>
  </div>
</div>

<router-outlet></router-outlet>